/* bodyの余白をなくす */
body {
  padding: 0px;
  margin: 0px;
}

/* ============
ナビゲーション
メニュー
=============*/

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

/* nav a はどういう意味？ */
nav a {
  font-weight: bold;
  text-decoration: none;
  font-size: 34px;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
}

/* ナビゲーションメニューのMyProfileの部分 */
.home {
  border: 1px solid black;
  padding: 0px 20px;
  margin-left: 20px;
}

/* メニューの余白 */
.menu > a {
  margin-left: 20px;
  margin-right: 20px;
}

/* なぜここで指定？ */
.name {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 34px;
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
}

li {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
}


/* divの不要な空白を削除 */
/* font-sizeをゼロにして空白が消えるのか？ */
div {
  font-size: 0;
}

/* メイン画像 */
.mainpic {
  width: 100%;
}

/* imgはいくつもあるのに、一括設定でよいのか */
img {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

/* なぜちゃんと頁の真ん中に来ているのか？？ */
/* About */
.about {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto 20px auto;
  max-width: 960px;
}

/* マルク切り取る画像 */
/* borderに色？丸に加工しなくても、元のイメージが丸い */
.circle {
  border-radius:  50%;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border: 3px solid #999;
  padding: 3px;
}

/* プロフィールの説明部分 */
.content {
  margin: 0 auto;
  padding-left: 40px;
}

/* works */
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 20px auto;
  max-width: 960px;
  }

  /* 親ボックスの中の子ボックスのpaddingのことか？
  1番目と3番目が左右の端に配置されるのはなぜか
  中央の設定がわからない*/
.item {
  padding-bottom: 60px;
  width: 25%;
}


/* Worksの画像と説明部分（2個目） */
.item_center {
  padding-right: 20px;
  padding-left: 20px;
}

/* フッター */
footer p {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Noto Sans JP", sans-serif;
}

/* 横幅が767pxまでの場合 */
@media (max-width: 767px) {
  .item {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }
}